.Rproj.user
.Rhistory
.RData
.Ruserdata
Area_ctrls_RPM.pdf
Area_est_ctrl.pdf
Area_eu1.pdf
Area_eu3.pdf
Cytoskeleton_den_distribution.pdf
E1_vs_ctrl.xlsx
E2_vs_ctrl.xlsx
E3_vs_ctrl.xlsx
E4_vs_ctrl.xlsx
E5_vs_ctrl.xlsx
E6_vs_ctrl.xlsx
E8_vs_ctrl.xlsx
Mel_og.csv
Roundness_1G.pdf
Roundness_Docking.pdf
Roundness_RPM.pdf
Roundness_big.pdf
Roundness_small.pdf
Solidity_1G.pdf
Solidity_Docking.pdf
Solidity_RPM.pdf
Solidity_big.pdf
Solidity_roundness_all.xlsx
Solidity_small.pdf
rpm_ctrl.csv
rpm_ctrl_symmetry.csv
rpm_dock.csv
space_ctrl.csv
space_ctrl_simmetry.csv
space_dock.csv
space_mel.csv
space_mel_symmetry.csv
space_nuc_ctrl.csv
space_nuc_docking.csv
space_nuc_mel.csv
eu8.xlsx
